cancel_appointment (sub-workflow).json
{
  "name": "cancel_appointment (sub-workflow)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "patient_phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        -32
      ],
      "id": "d9ca5b4c-5f05-4772-a116-d8408dbc6982",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "patients",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "condition": "eq",
              "keyValue": "={{ $json.patient_phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -448,
        -32
      ],
      "id": "ee7f5140-aca2-4bcc-bd53-17ddabd3cb9f",
      "name": "find_patient",
      "credentials": {
        "supabaseApi": {
          "id": "cbyQl1gzas1rULGo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "patient_id",
              "condition": "eq",
              "keyValue": "= {{ $json.id }}"
            },
            {
              "keyName": "status",
              "condition": "neq",
              "keyValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        -32
      ],
      "id": "ae18683f-d197-4bfe-88ff-34ab1f73c588",
      "name": "find_appointment",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "cbyQl1gzas1rULGo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const appointments = $input.all().map(item => item.json);\n\n// Sort by appointment_time descending, pick the soonest upcoming one\n// (or simplest: just take the most recently created one)\nconst sorted = appointments.sort((a, b) => new Date(b.appointment_time) - new Date(a.appointment_time));\n\nif (sorted.length === 0) {\n  return [{ json: { found: false, message: \"No scheduled appointment found for this patient.\" } }];\n}\n\nreturn [{ json: { found: true, ...sorted[0] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -32
      ],
      "id": "815a4517-4504-414e-bb5e-c54e00a79265",
      "name": "pick_appointment"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "7e9b8240-604b-4b6d-abc8-2f69e63a306c",
              "leftValue": "={{ $json.found }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        192,
        -32
      ],
      "id": "fd0640cb-b815-427a-bc45-649494a1e9ee",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: \"No scheduled appointment found for this patient.\" } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        112
      ],
      "id": "6b103ec5-d1d5-43ca-a5e4-e8f5f33fae42",
      "name": "not_found_response"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "mominazd12@gmail.com",
          "mode": "list",
          "cachedResultName": "mominazd12@gmail.com"
        },
        "eventId": "={{ $node[\"pick_appointment\"].json.calendar_event_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        416,
        -32
      ],
      "id": "ffc3ec0d-d457-4abf-aa84-2cc2b6185f49",
      "name": "delete_event",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "pYrYVId8iI7merwU",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "appointments",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node[\"pick_appointment\"].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cancelled"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "e48097f9-4c65-41ec-9c78-fcb9fd04dde0",
      "name": "update_cancelled_status",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "cbyQl1gzas1rULGo",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "find_patient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_patient": {
      "main": [
        [
          {
            "node": "find_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find_appointment": {
      "main": [
        [
          {
            "node": "pick_appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pick_appointment": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "delete_event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "not_found_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete_event": {
      "main": [
        [
          {
            "node": "update_cancelled_status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bd7ab319-330e-4274-a3f5-b0be1a971d29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6ffbd473873ec96f8c7c9a451a8aeb1535395b5ae1c7be3a3c3362de7765a162"
  },
  "id": "KLVzJd4wRboJv21V",
  "tags": []
}